mat-card {
  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 0;
}

.word {
  font-size: large;
  color: white;
  padding-top: 12px;
}

mat-card-header {
  background-color: midnightblue;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

mat-grid-list {
  top: 70px;
  margin-left: 20%;
  margin-right: 20%;
}

div {
  background-color: ghostwhite;
  height: 100%;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.data {
  padding-right: 10px;
}

ol {
  padding-top: 5px;
}
