<div class="page">
  <mat-spinner *ngIf="!loadedE"></mat-spinner>
  <div *ngIf="loadedE">
    <mat-grid-list [cols]="2" rowHeight="650px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title class="word">WEST</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul style="list-style-type: none">
              <li *ngFor="let team of teamsW">
                <div class="team">
                  <img *ngIf="team" [src]="team.icon">
                  <a (click)="goToTeamDetail(team.teamId)"> {{team.city + ' ' + team.nickname}}</a>
                </div>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title class="word">EAST</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul style="list-style-type: none">
              <li *ngFor="let team of teamsE">
                <div class="team">
                  <img *ngIf="team" [src]="team.icon">
                  <a (click)="goToTeamDetail(team.teamId)"> {{team.city + ' ' + team.nickname}}</a>
                </div>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
