<div>
  <h2 style="font-family: Arial">A</h2>
  <mat-spinner *ngIf="!loadedA" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedA" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersA">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">B</h2>
  <mat-spinner *ngIf="!loadedB" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedB" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersB">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">C</h2>
  <mat-spinner *ngIf="!loadedC" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedC" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersC">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">D</h2>
  <mat-spinner *ngIf="!loadedD" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedD" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersD">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">E</h2>
  <mat-spinner *ngIf="!loadedE" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedE" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersE">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">F</h2>
  <mat-spinner *ngIf="!loadedF" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedF" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersF">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">G</h2>
  <mat-spinner *ngIf="!loadedG" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedG" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersG">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">H</h2>
  <mat-spinner *ngIf="!loadedH" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedH" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersH">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">I</h2>
  <mat-spinner *ngIf="!loadedI" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedI" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersI">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">J</h2>
  <mat-spinner *ngIf="!loadedJ" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedJ" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersJ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">K</h2>
  <mat-spinner *ngIf="!loadedK" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedK" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersK">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">L</h2>
  <mat-spinner *ngIf="!loadedL" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedL" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersL">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">M</h2>
  <mat-spinner *ngIf="!loadedM" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedM" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersM">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">N</h2>
  <mat-spinner *ngIf="!loadedN" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedN" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersN">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">O</h2>
  <mat-spinner *ngIf="!loadedO" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedO" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersO">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">P</h2>
  <mat-spinner *ngIf="!loadedP" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedP" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersP">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">Q</h2>
  <mat-spinner *ngIf="!loadedQ" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedQ" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersQ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">R</h2>
  <mat-spinner *ngIf="!loadedR" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedR" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersR">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">S</h2>
  <mat-spinner *ngIf="!loadedS" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedS" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersS">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">T</h2>
  <mat-spinner *ngIf="!loadedT" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedT" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersT">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">U</h2>
  <mat-spinner *ngIf="!loadedU" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedU" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersU">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">V</h2>
  <mat-spinner *ngIf="!loadedV" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedV" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersV">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">W</h2>
  <mat-spinner *ngIf="!loadedW" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedW" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersW">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">X</h2>
  <mat-spinner *ngIf="!loadedX" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedX" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersX">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">Y</h2>
  <mat-spinner *ngIf="!loadedY" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedY" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersY">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Arial">Z</h2>
  <mat-spinner *ngIf="!loadedZ" [diameter]="70"></mat-spinner>
  <div *ngIf="loadedZ" class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersZ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
</div>
