<div>
  <h2 style="font-family: Verdana">A</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersA">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">B</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersB">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">C</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersC">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">D</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersD">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">E</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersE">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">F</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersF">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">G</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersG">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">H</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersH">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">I</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersI">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">J</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersJ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">K</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersK">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">L</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersL">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">M</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersM">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">N</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersN">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">O</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersO">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">P</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersP">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">Q</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersQ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">R</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersR">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">S</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersS">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">T</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersT">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">U</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersU">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">V</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersV">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">W</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersW">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">X</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersX">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">Y</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersY">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
  <h2 style="font-family: Verdana">Z</h2>
  <div class="playerName" style="column-width:12em;">
    <div *ngFor="let player of playersZ">
      <a (click)="goToPlayerDetail(player.playerId)" style="font-family: Arial;line-height: 35px">{{player.name}}</a>
    </div>
  </div>
</div>
