.playerName {
  margin-top: -15px;
  margin-left: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 5px;
  padding-left: 10px;
  background-color: #9E9E9E;
  color: white;
  height: 40px;
}

a {
  cursor: pointer;
}

mat-spinner {
  margin: 0 auto;
  margin-bottom: 20px;
}
