.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  padding-top: 20px;
  font-family: Arial;
}

mat-grid-tile {
  font-family: Arial;
}

.team-icon {
  width: 200px;
  height: 200px;
  float: right;
}

.page {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: ghostwhite;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

a {
  cursor: pointer;
}

.personal {
  padding-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.player-image {
  width: 260px;
  height: 190px;
}
