<div class="page">
  <img *ngIf="team" [src]="team.icon">
  <div class="detail" *ngIf="player">
    <div class="info" style="column-count: 2">
      <span style="font-family: Arial;font-size: large;font-weight: bold">Name: {{player.name}}</span>
      <h3><a (click)="goToTeamDetail(team.teamId)">Team: {{team.city + ' ' + team.nickname}}</a></h3>
      <h3>Age: {{player.age}}</h3>
      <h3>Height: {{height}}</h3>
      <h3>Weight: {{player.weight}} lbs</h3>
      <h3>School: {{player.college}}</h3>
      <h3>Nationality: {{player.country}}</h3>
      <h3>Draft Year: {{player.draftYear}}</h3>
    </div>
    <div>
      <mat-grid-list [cols]="3" rowHeight="2:1">
        <mat-grid-tile>Point Per Game</mat-grid-tile>
        <mat-grid-tile>Rebounds Per Game</mat-grid-tile>
        <mat-grid-tile>Assists Per Game</mat-grid-tile>
        <mat-grid-tile>Block Per Game</mat-grid-tile>
        <mat-grid-tile>Steal Per Game</mat-grid-tile>
        <mat-grid-tile>Turnover Per Game</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
