<div *ngIf="player&&team" class="page">
  <div class="intro">
    <div>
      <img class="player-image" [src]="imageUrl">
      <img class="team-icon" *ngIf="team"
           [src]="team.icon">
    </div>
    <div class="detail" *ngIf="player">
      <div class="info" style="column-count: 2">
        <span style="white-space:nowrap;font-size: large;font-weight: bold">Name: {{player.name}}</span>
        <h3 style="white-space: nowrap"><a (click)="goToTeamDetail(team.teamId)">
          Team: {{team.city}} {{team.nickname}}
        </a></h3>
        <h3>Age: {{player.age}}</h3>
        <h3>Height: {{height}}</h3>
        <h3>Weight: {{player.weight}} lbs</h3>
        <h3>School: {{player.college}}</h3>
        <h3>Nationality: {{player.country}}</h3>
        <h3>Draft Year: {{player.draftYear}}</h3>
      </div>
    </div>
  </div>
  <div *ngIf="personalStat" class="personal">
    <mat-grid-list [cols]="2" rowHeight="100px" gutterSize="5px">
      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Points Per Game</span>
          <h3 style="text-align: center">{{personalStat.points}}</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Rebounds Per Game</span>
          <h3 style="text-align: center">{{personalStat.rebounds}}</h3>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Assists Per Game</span>
          <h3 style="text-align: center">{{personalStat.assists}}</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Blocks Per Game</span>
          <h3 style="text-align: center">{{personalStat.blocks}}</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Steals Per Game</span>
          <h3 style="text-align: center">{{personalStat.steals}}</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <span style="font-family: Arial;font-size: large">Turnovers Per Game</span>
          <h3 style="text-align: center">{{personalStat.turnovers}}</h3>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
